@import './variables.css';

.display-none{
    display: none;
}

.close{
    position: relative;
    left: 108px;
    top: -60px;
}

.detail-task{
    flex: 0 0 100%;
    transform: rotate(90deg);
    height: 100%;
    position: relative;
    bottom: -80px;
}

.detail-task span{
    display: flex;
}

.detail-task div{
    background: var(--primary-color);
    height: 84%;
    width: 38%;
    border-radius: 12px;
}

.detail-task div h4{
    color: var(--secondary-color);
    margin: 0;
    position: relative;
    bottom: -114px;
    left: 10px;
}